octabit.cc {
	encode zstd gzip

	handle /api/* {
		reverse_proxy 127.0.0.1:8000
	}

	handle /static/previews/* {
		reverse_proxy 127.0.0.1:8000
	}

	handle /synthesise* {
		reverse_proxy 127.0.0.1:8000
	}

	handle {
		root * /home/deploy/octabit/frontend/dist
		try_files {path} /index.html
		file_server
	}
}
